// @types
@import '../../../styles/_variables';

// @types
#root {
  min-height: 100vh;
  padding-top: 50px;
  .grid {
    min-height: 50vh;
    padding: 10px;
  }
  .card {
    padding-top: 0;
    width: 350px;
  }
  .action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > button {
      margin: 0 20px;
    }
  }
  .extra {
    display: flex;
    justify-content: center;
  }
}
